write "<!DOCTYPE html>";

html lang="en" {
	head {
		include "templates/common.tmpl";
		title [Example page - 404 Not found]
	}
	body class="center-col" {
		include "templates/header.tmpl";

		main {
			h2 [## 404 Not found]
			p [This page is inaccessible or does not exist.]
		}

		include "templates/footer.tmpl";
	}
}