write "<!DOCTYPE html>";

html lang="en" {
	head {
		include "templates/common.tmpl";
		title [Example page - public files]
	}

	body class="center-col" {
		include "templates/header.tmpl";

		main style="padding: 0" {
			include "templates/filetree.tmpl";
		}

		include "templates/footer.tmpl";
	}
}
