
header class="center-col" {
	strong class="inline-block" [Example page]
	span class="indenter";

	nav class="inline-block" {
		a href="/"			[home]
		a href="/public"	[public]
		a href="/invalid"	[404]
	}
}
